// Index page

.index-main-cover {
    height: 450px;
    font-size: 1.05rem;
    background-color: $global-main-cover-background;

    h1 {
        font-size: 2.65rem;
    }

    p{
        font-family: 'Source Sans Pro';
    }
}


@media (max-width: 400px) {
    .index-main-cover {
        height: 450px;
    }
}

@media (max-width: 300px) {
    .index-main-cover {
        height: 600px;
    }
}

@media (min-width: $breakpoint-medium) {
    .index-main-cover {
        height: 30vh;
    }
}
