<!doctype html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="&copy; {{site.time | date: '%Y'}} Temir">
    <link rel="icon" type="image/png" href="{{ '/img/favicon.png' | relative_url }}">

    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}?{{site.time | date: '%s'}}">
    {%- for css in page.additional_css %}
    <link rel="stylesheet" href="{{ css | relative_url }}?{{site.time | date: '%s'}}">
    {%- endfor %}
</head>
<body class="uk-offcanvas-content">
<script src="{{ '/js/thirdparty/uikit/uikit.min.js' | relative_url }}"></script>
<script src="{{ '/js/thirdparty/uikit/uikit-icons.min.js' | relative_url }}"></script>

<div id="offcanvas-nav" class="uk-hidden@m" data-uk-offcanvas="overlay: true; flip: true;">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" data-uk-close></button>

        <!-- Mobile navigation -->
        <nav class="uk-margin-large-top">
            <ul class="uk-nav uk-nav-primary uk-nav-parent-icon" data-uk-nav>
                <li{% if page.nav_active == "people" %} class="uk-active"{% endif %}>
                    <a href="{{ '/people.html' | relative_url }}">People</a>
                </li>
                <li{% if page.nav_active == "lecturenotes" %} class="uk-active"{% endif %} class="uk-parent">
                    <a href="#">Lecturenotes</a>
                    <ul class="uk-nav-sub">
                        <li><a href="{{ '/lecturenotes/overview.html' | relative_url }}">Overview</a></li>
                        <li><a href="{{ '/lecturenotes/slides.html' | relative_url }}">Slides</a></li>
                        <li class="uk-parent">
                            Browser
                            <ul class="uk-nav-sub">
                                <li><a href="{{ '/lecturenotes/browser/algorithms-and-datastructures.html' | relative_url }}">Algorithmen und Datenstrukturen</a></li>
                                <li><a href="{{ '/lecturenotes/browser/information-retrieval.html' | relative_url }}">Information Retrieval</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li{% if page.nav_active == "research" %} class="uk-active"{% endif %}>
                    <a href="{{ '/research.html' | relative_url }}">Research</a>
                </li>
                <li{% if page.nav_active == "publications" %} class="uk-active"{% endif %}>
                    <a href="{{ '/publications.html' | relative_url }}">Publications</a>
                </li>
                <li{% if page.nav_active == "data" %} class="uk-active"{% endif %}>
                    <a href="{{ '/data.html' | relative_url }}">Data</a>
                </li>
                <li{% if page.nav_active == "facilities" %} class="uk-active"{% endif %}>
                    <a href="{{ '/facilities.html' | relative_url }}">Facilities</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="uk-background-secondary desktop-nav global-nav" data-uk-sticky="media: @m">
    <!-- Desktop navigation -->
    <nav class="uk-navbar-container uk-navbar-transparent uk-container uk-light" data-uk-navbar="mode: click">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li{% if page.nav_active == "index" %} class="uk-active"{% endif %}>
                    <a href="{{ '/' | relative_url }}"><img src="{{ '/img/uni_leipzig_logo_v2_white-01_opt_2.png' | relative_url }}" alt="TEMIR LOGO" class="uk-logo"> Temir</a>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li{% if page.nav_active == "people" %} class="uk-active"{% endif %}>
                    <a href="{{ '/people.html' | relative_url }}">People</a>
                </li>
                <li class="nav-group-start{% if page.nav_active == 'lecturenotes' %} uk-active{% endif %}">
                    <a href="#">Lecturenotes</a>
                    <div class="uk-navbar-dropdown uk-navbar-dropdown-width-3 uk-padding-remove">
                        <div class="uk-navbar-dropdown-grid" data-uk-grid>
                            <div class="uk-width-1-3">
                                <ul class="uk-nav uk-navbar-dropdown-nav uk-padding-small">
                                    <li><a href="{{ '/lecturenotes/overview.html' | relative_url }}">Overview</a></li>
                                    <li><a href="{{ '/lecturenotes/slides.html' | relative_url }}">Slides</a></li>
                                    <li class="nav-left-open-category">Browser</li>
                                </ul>
                            </div>
                            <div class="uk-width-2-3">
                                <ul class="uk-nav uk-navbar-dropdown-nav nav-right-open-sub uk-padding-small">
                                    <li><a href="{{ '/lecturenotes/browser/algorithms-and-datastructures.html' | relative_url }}">Algorithmen und Datenstrukturen</a></li>
                                    <li><a href="{{ '/lecturenotes/browser/information-retrieval.html' | relative_url }}">Information Retrieval</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li{% if page.nav_active == "research" %} class="uk-active"{% endif %}>
                    <a href="{{ '/research.html' | relative_url }}">Research</a>
                </li>
                <li{% if page.nav_active == "publications" %} class="uk-active"{% endif %}>
                    <a href="{{ '/publications.html' | relative_url }}">Publications</a>
                </li>
                <li class="nav-group-start{% if page.nav_active == 'data' %} uk-active{% endif %}">
                    <a href="{{ '/data.html' | relative_url }}">Data</a>
                </li>
                <li{% if page.nav_active == "facilities" %} class="uk-active"{% endif %}>
                    <a href="{{ '/facilities.html' | relative_url }}">Facilities</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="uk-background-secondary mobile-nav global-nav" data-uk-sticky>
    <div class="uk-navbar-container uk-navbar-transparent uk-container uk-light mobile-nav-toggle" data-uk-navbar>
        <div class="">
            <ul class="uk-navbar-nav">
                <li{% if page.nav_active == "index" %} class="uk-active"{% endif %}>
                    <a href="{{ '/' | relative_url }}"><img src="{{ '/img/uni_leipzig_logo_v2_white-01_opt_2.png' | relative_url }}" alt="TEMIR LOGO" class="uk-logo"> Temir</a>
                </li>
            </ul>
        </div>

        <div class="uk-navbar-right">
            <button class="uk-button uk-navbar-item uk-light uk-button-large" type="button" data-uk-icon="icon: menu"
                    data-uk-toggle="target: #offcanvas-nav"></button>
        </div>
    </div>
</div>

<div data-uk-height-viewport="expand: true">
{{ content }}
</div>

<footer class="uk-section uk-section-default footer-section">
    <div class="uk-container">
        <div class="uk-align-left@m">
            <article class="uk-article">
                <p class="uk-article-title">Contact</p>
                  <address>
                        Text Mining and Retrieval Group 
                        <br> Leipzig University
                        <br> Department of Computer Science
                        <br> Augustusplatz 10
                        <br> 04109 Leipzig
                        <br> Germany
                        <br> <span uk-icon="world"></span> &nbsp; <a href="temir.org">temir.org</a>
                        <br> <span uk-icon="receiver"></span> &nbsp; +49 341 97-32230
                        <br> <i> Copyright &copy; {{site.time | date: '%Y'}} Temir Group </i>
                  </address>  
            </article>
        </div>
        <div class="uk-position-bottom uk-align-">
            
        </div>
    </div>
</footer>

<script>
    UIkit.util.ready(() => {
        const nav = UIkit.util.$(".global-nav");
        const navHeight = UIkit.util.height(nav);

        // correct scroll offset due to fixed navigation after page load
        let fixScrollHeight = () => {
            if (location.hash === "" || !UIkit.util.$(location.hash)) {
                return;
            }

            const pos = document.documentElement.scrollTop;
            const offset = UIkit.util.offset(UIkit.util.$(location.hash));

            if (pos > navHeight * .8 && offset) {
                document.documentElement.scrollTop = offset.top - navHeight - 20;
            }
        };

        window.addEventListener("hashchange", fixScrollHeight, false);
        setTimeout(fixScrollHeight, 100);
    });
</script>

</body>
</html>
